.material-symbols-outlined{
    font-size: 20px;
    vertical-align: middle;
}


.farro-light {
  font-family: "Farro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.farro-regular {
  font-family: "Farro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.farro-medium {
  font-family: "Farro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.farro-bold {
  font-family: "Farro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}

.top {
    width: 100%;
    height: 120px;
    background-color: rgb(229, 189, 55, 1);
    justify-content: space-between;
    align-items: center;
    display: flex;

}

.logo {
    width: 150px;
    height: auto;
}

.logo img {
    width: 100px;
    height: 100px;
    margin: 6px;
    animation: pisca 2.5s infinite;
}

.material-symbols-outlined {
    margin-bottom: 7px;
}

.nome-logo h1 {
    font-family: "Farro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu a {
    text-decoration: none;
    color: black;
    margin: 5px;
    font-family: "Farro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu a:hover {
    color: rgb(255, 255, 255);
}

.menu {
    margin-right: 15px;
    position: relative;
}

.cardBase {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 80px 20px;
}

.card {
    width: 600px;
    height: 355px;   
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.850);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.850);;
}

.card img {
    width: 220px;
    height: auto;
    border-radius: 15px;
    margin: 40px;
}

button {
    background-color: rgb(229, 189, 55, 1);
    width: 200px;
    border: none;
    padding: 15px 35px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Farro", sans-serif;
    font-weight: 400;
    font-style: normal;
}
button:hover {
    background-color: rgb(156, 127, 32);
}

.info {
    flex: 1;
    margin: 40px 40px;
    
}

.info h1 {
    font-size: 23px;
    font-family: "Farro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.info p {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 18px;
    font-family: "Farro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: rgb(38, 38, 38);
    padding: 15px;
    text-align: center;
}

footer p {
    color: white;
}

@keyframes pisca {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@media (max-width: 700px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        overflow-x: hidden;
        width: 100%;
    }




    
    
    .top{
        height: auto;
        padding: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo img{
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }

    

    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .menu a{
        font-size: 18px;
        margin-bottom: 2px;
    }


    .card{
        width: 300px;
        height: auto;
        flex-direction:column;
        text-align:center;
        
    }

    .info{
        margin: 40px 0;
    }

    .card img{
        width:180px;
        border-radius: 5px;
    }

    button{
        width:100%;
    }


}